@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

main {
  font-family: 'Roboto', sans-serif;
}

.home-containter {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

.homepage-h1 {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  top: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  margin: 0;
  color: #6E685F;
}

#login-btn, #register-btn {
  position: absolute;
  top: 75%;
}

#login-btn {
  left: 10%;
}

#register-btn {
  left: 50%;
}

#icons-section {
  margin: 0 auto;
}

.icon-info {
  float: left;
  padding-bottom: 3em;
}

@media only screen and (min-width: 640px) {
  .homepage-h1 {
    font-size: 5em;
  }

  #login-btn {
    top: 50%;
    left: 30%;
  }
  #register-btn {
    top: 50%;
    left: 50%;
  }
}

@media only screen and (min-width: 800px) {
  .homepage-h1 {
    font-size: 10em;
    top: 15%;
    left: 50%;
    width: 100%;
  }

  #login-btn {
    top: 40%;
    left: 40%;
  }

  #register-btn {
    top: 40%;
    left: 50%;
  }

  #icons-section {
    background-color: #FFFF;
    position: absolute;
    top: 65%;
    width: 100%;
    height: 21em;
  }

}
