@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

main {
  font-family: 'Roboto', sans-serif;
}

.home-containter {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

.background-img {
  background-color: rgba(0, 0, 0, 0.7);
}

.homepage-h1 {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8em;
  margin: 0;
}

section {
  float: left;
  padding: 0.5em;
}
