@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

main {
  font-family: 'Roboto', sans-serif;
}

.home-containter {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

.homepage-h1 {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  top: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  margin: 0;
  color: #6E685F;
}

section {
  float: left;
  margin: 0 auto;
}
