@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

.app {
  font-family: 'Roboto', sans-serif;
  margin: none;
}

li {
  style: none;
}

button {
  margin-bottom: 2em;
  font-size: 1em;
  border-radius: 5px;
  width: 8em;
  height: 2em;
  background-color: #CC9539;
  color: #FFFF;
}

button:hover {
  cursor: pointer;
  background-color: #497513;
}

.delete-button:hover {
  background-color: #932A2B;
}
