@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Gothic+A1');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

.app {
  font-family: 'Roboto', sans-serif;
  margin: none;
}

li {
  style: none;
}

button {
  margin-bottom: 2em;
  font-size: 1em;
  border-radius: 5px;
  width: 8em;
  height: 3em;
  background-color: #869F7F;
  color: #FFFF;
}

.delete-button {
  background-color: #AE5442;
}

button:hover {
  cursor: pointer;
  background-color: #497513;
}

.delete-button:hover {
  background-color: #DA874B;
}

input, label {
  text-align: center;
  width: 33.3%;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1em;
}
