.login-div {
  background-color: #B5FFE3;
  min-height: 100vh;
  margin-top: 0;
}

.login-h1 {
  padding: 3em 0 1em 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.login-form, .login-h1 {
  text-align: center;
}

.login-form {
  border: 5px solid #6E685F;
  width: 75%;
  height: 16em;
  margin: 0 auto 1em auto;
  border-radius: 5px;
  padding-top: 1em;
  background-color: #FFFF;
}

input {
  width: 75%;
  margin: 1em auto;
}

#login-page-btn {
  background-color: #7D555D;
}

#login-page-btn:hover {
  background-color: #DA874B;
}

.demo {
  padding-top: 1em;
}

#register-link {
  color: #7D555D;
  display: block;
  padding-bottom: 1em;
}

#register-link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 640px) {
  .login-form {
    width: 50%;
    height: 85%;
  }
}
