ul {
  padding: 0
}

h4 {
  padding-top: 5em;
}

.listTitle {
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.container {
  width: 11em;
  height: 11em;
  border: 2px solid #497513;
  border-radius: 5px;
  padding: 0.2em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-card {
  display: inline-block;
}

.list-card:hover {
  cursor: pointer;
}

#delete-list {
  display: none;
  /* top: 0;
  right: 0;
  width: 0.1em;
  height: 0.1em;
  border: none;
  background-color: #FFFF; */
}

.container:hover button {
  display: block;
  /* position: absolute;
  top: 0;
  right: 0;
  width: 0.1em;
  height: 0.1em;
  border: none;
  background-color: #FFFF; */
}
