.list-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#lists-h1 {
  font-size: 3rem;
  padding-left: 10px;
  color: #D0D3D4;
}

ul {
  padding: 0;
}

.listTitle {
  padding: 0;
  text-decoration: underline;
}

.container {
  width: 11em;
  height: 11em;
  border: 2px solid #497513;
  border-radius: 5px;
  padding: 0.2em;
  margin: 1em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-card {
  display: flex;
  text-align: center;
}

.list-card:hover {
  cursor: pointer;
}

#delete-list {
  display: none;
}

.container:hover span {
  display: block;
  position: absolute;
  top: 0;
  left: 90%;
}

#new-list-btn {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 2em auto;
}

@media only screen and (min-width: 1000px) {

}
