.nav-bar {
  overflow: hidden;
  background-color: #7A6A5F;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  margin: 0;
}

li {
 list-style: none;
}

.nav-list-item, .log-out {
  display: block;
  background-color: #7A6A5F;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  margin: 0;
}

.logo {
  font-family: 'Gothic A1', sans-serif;
  font-weight: lighter;
  font-size: 2em;
  float: left;
  padding: 6px 0px 0px 0px;
  margin-left: -30px;
  color: #c0d8ba;
}

.log-out {
  font-size: 1em;
  float: right;
  color: #FFFF;
}

.log-out:hover {
  background-color: #7D555D;
}
