@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* MOBILE FIRST */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-top: none; border-bottom: none;
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }


/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  border-width: 3px;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px gray;
}

.Rtable-cell h1, .Rtable-cell h2, .Rtable-cell h3, .Rtable-cell h4, .Rtable-cell h5, .Rtable-cell h6 {
  margin: 0;
}

input {
  display: none;
}

.Rtable-cell:hover input {
  display: block;
  border: 1px solid gray;
  text-align: center;
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }
