@import url('https://fonts.googleapis.com/css?family=Roboto');

footer, span {
  background-color: grey;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
