input {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin: 1em auto;
}

.register-div {
  background-color: #B5FFE3;
  min-height: 100vh;
  margin-top: 0;
}

.register-h1 {
  padding: 3em 0 1em 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.register-form, .register-h1 {
  text-align: center;
}

.register-form {
  border: 5px solid #6E685F;
  width: 75%;
  height: 30em;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 1em;
  background-color: #FFFF;
}

#register-or {
  margin: 0;
}
